.overflow1 {
  white-space: nowrap;
  width: 200px;
  border: 1px solid black;
  overflow: hidden;
  text-overflow: clip;
}

.overflow2 {
  white-space: nowrap;
  width: 200px;
  border: 1px solid black;
  overflow: hidden;
  text-overflow: ellipsis;
}

p.wrap {
  width: 11em;
  border: 1px solid black;
  word-break: keep-all;
}

p.word-break-1 {
  width: 140px;
  border: 1px solid black;
  word-break: keep-all;
}

p.word-break-2 {
  width: 140px;
  border: 1px solid black;
  word-break: break-all;
}

p.writing-mode-1 {
  writing-mode: horizontal-tb;
}

span.writing-mode-2 {
  writing-mode: vertical-rl;
}

p.writing-mode-2 {
  writing-mode: vertical-lr;
}