.static {
    position: static;
    border: 3px solid #73AD21;
}

.relative {
    position: relative;
    left: 30px;
    border: 3px solid #73AD21;
}

.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    border: 3px solid #73AD21;
}

.absolute {
    position: absolute;
    top: 80px;
    right: 0;
    width: 200px;
    height: 100px;
    border: 3px solid #73AD21;
}

div.sticky {
    position: sticky;
    top: 0;
    padding: 5px;
    background-color: #cae8ca;
    border: 3px solid #73AD21;    
}