.container {
  width: 200px;
  height: 90vh;
  position: relative;
  top: 5%;
  float: left;
  margin: 0 50px;
}

#animated_div {
  width: 70px;
  height: 47px;
  background: #92B901;
  color: #fff;
  position: relative;
  padding: 10px;
  border-radius: 5px;
  animation: animated_div 5s infinite;
}

@keyframes animated_div {
  0% {
    transform: rotate(0deg);
    left: 0px;
  }
  25% {
    transform: rotate(20deg);
    left: 0px;
  }
  50% {
    transform: rotate(0deg);
    left: 500px;
  }
  70% {
    transform: rotate(0deg);
    left: 500px;
    background-color: #1ec7e6;
  }
  100% {
    transform: rotate(-360deg);
    left: 0px;
  }
}