* {
    box-sizing: border-box;
}

.img-container {
    float: right;
    width: 33.3%;
    padding: 5px;
}

.container {
    background-color: aqua;
    display: inline-block;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}